<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>你好</title>
</head>
<body>
<shiro:hasPermission name="wz:delete">
<form action="/wz/delete" method="get">
    <input type="submit" value="删除违章记录"></input>
</form>
</shiro:hasPermission>

<shiro:hasPermission name="wz:add">
<form action="/wz/add" method="get">
    <input type="submit" value="添加违章记录"></input>
</form>
</shiro:hasPermission>

</body>
</html>