<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.jtms.dao.CarDao">
    <resultMap id="carInfo" type="com.jk.jtms.entity.Car">
        <id property="xsCode" column="xs_code"></id>
        <result property="carCode" column="car_code"></result>
        <result property="bkScore" column="bk_score"></result>
        <association property="user" javaType="com.jk.jtms.entity.User">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
            <result property="phone" column="phone"></result>
            <result property="sfCode" column="sf_code"></result>
        </association>
    </resultMap>

    <!--查询车辆信息-->
    <select id="getCarInfo" resultMap="carInfo">
        select
            xs_code,car_code,bk_score,id,`name`,phone,sf_code
        from
            car_list a inner join sys_user b
        on
            a.user_id = b.id
        <where>
            <if test="carDTO.carCode != null">
                car_code = #{carDTO.carCode}
            </if>
            <if test="carDTO.username != null">
               and name = #{carDTO.username}
            </if>
            <if test="carDTO.xsCode != null">
               and xs_code = #{carDTO.xsCode}
            </if>
        </where>
        limit #{start}  ,#{pageSize}
    </select>

    <select id="getCountInfo" resultType="java.lang.Integer">
        select
            count(*)
        from
            car_list a inner join sys_user b
        on
            a.user_id = b.id
    </select>

    <insert id="addCarInfo" parameterType="com.jk.jtms.entity.Car">
        insert into car_list(xs_code, car_code, bk_score)
    </insert>

    <select id="getUserId" resultType="string">
        select user_id from car_list where car_code = #{carcode}
    </select>

    <select id="getWzType" resultType="String">
       SELECT id FROM `wz_info` where name = #{type}
    </select>

    <insert id="addTypeDetails">
        INSERT INTO type_details(`car_code`, `type_id`, `time`, `location`, `pic_url`, `status`, `id`, `sf_code`) VALUES (#{carcode}, #{wzType}, #{time}, #{area}, #{url}, '0', #{id}, #{sfcode});
    </insert>

    <insert id="addCar">
        INSERT INTO `car_list`(`xs_code`, `car_code`, `user_id`, `bk_score`) VALUES (#{carDTO.xsCode}, #{carDTO.carCode}, #{carDTO.userid}, 0);
    </insert>

    <delete id="deleteCar" >
        delete from car_list where xs_code = #{xsCode}
    </delete>
    
    <update id="updateCar">
        update car_list set car_code = #{carCode} where xs_code = #{xsCode}
    </update>

    <select id="getCarList" resultType="java.util.Map">
        SELECT
	b1.xs_code,
	b1.car_code,
	b2.`name`,
	b1.user_id
FROM
	car_list b1
	INNER JOIN sys_user b2 ON b1.user_id = b2.sf_code
    </select>

    <select id="getCarPage" resultType="map">
          SELECT
	b1.xs_code,
	b1.car_code,
	b2.`name`,
	b1.user_id
FROM
	car_list b1
	INNER JOIN sys_user b2 ON b1.user_id = b2.sf_code
	limit #{start}  ,#{pageSize}
    </select>

    <select id="isExist" resultType="java.lang.Integer">
        select count(1) from sys_user where id = #{useId}
    </select>
</mapper>