<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.jtms.dao.CarDao">
    <resultMap id="carInfo" type="com.jk.jtms.entity.Car">
        <id property="xsCode" column="xs_code"></id>
        <result property="carCode" column="car_code"></result>
        <result property="bkScore" column="bk_score"></result>
        <association property="user" javaType="com.jk.jtms.entity.User">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
            <result property="phone" column="phone"></result>
            <result property="sfCode" column="sf_code"></result>
        </association>
    </resultMap>

    <!--查询车辆信息-->
    <select id="getCarInfo" resultMap="carInfo">
        select
            xs_code,car_code,bk_score,id,`name`,phone,sf_code
        from
            car_list a inner join sys_user b
        on
            a.user_id = b.id
        <where>
            <if test="carDTO.carCode != null">
                car_code = #{carDTO.carCode}
            </if>
            <if test="carDTO.username != null">
               and name = #{carDTO.username}
            </if>
            <if test="carDTO.xsCode != null">
               and xs_code = #{carDTO.xsCode}
            </if>
        </where>
    </select>


    <insert id="addCarInfo" parameterType="com.jk.jtms.entity.Car">
        insert into car_list(xs_code, car_code, bk_score)
    </insert>
</mapper>