<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.jtms.dao.UserRecordDao">

    <select id="getUserJL" resultType="map">
 SELECT
	b2.xs_code xscode,
	b2.car_code carcode,
	b1.`name` name,
	b2.user_id id,
	b2.bk_score bkscore
FROM
	sys_user b1
	RIGHT JOIN car_list b2 ON b1.id = b2.user_id
WHERE
	b1.id = #{id}
    </select>

    <select id="getUserJLDetail" resultType="java.util.Map">
		SELECT
		b1.xs_code xscode,
		b2.car_code carcode,
		b2.time time,
		b2.location,
		b3.`name` wzname,
		b3.score score,
		b2.status,
		b4.`status` sszt,
		b3.id
		FROM
		car_list b1
		RIGHT JOIN type_details b2 ON b1.car_code = b2.car_code
		LEFT JOIN wz_info b3 ON b3.id = b2.type_id
		LEFT JOIN wz_ss b4 ON b3.id = b4.id
		<where>
			<if test="b2.car_code != null and b2.car_code != ''" >b2.car_code = #{xscode}</if>
			<if test="b2.status != null and b2.status != ''" >and b2.status = #{status}</if>
		</where>
		LIMIT #{startPage},#{pageSize}
    </select>

    <select id="getCount" resultType="int">
        select count(1) from type_details where car_code = #{xscode}
    </select>

	<select id="getCarCode" resultType="string">
		SELECT car_code FROM `car_list` where user_id = #{userid}
	</select>

	<select id="getScore" resultType="int">
		SELECT
		ifnull(sum( b.score ),0)
FROM
	type_details a
	LEFT JOIN wz_info b ON a.type_id = b.id
<where>
	<if test="status != null and status !=''">a.STATUS = #{status}</if>
	<if test="carcode != null and carcode !=''"> and a.car_code = #{carcode}</if>
</where>
	</select>

	<select id="getUserCredit" resultType="java.util.Map">
		select credit_num ,user_id,id,jz_code from user_credit where user_id = #{userid}
	</select>
	
	<select id="getCarDetails" resultType="java.util.Map">
		select `car_code`, `type_id`, `time`, `location`, `pic_url`, `status`,sf_code from `type_details where id = #{id}
	</select>

	<update id="sendSuSong" parameterType="com.jk.jtms.entity.Wzss">
		UPDATE `wz_ss` SET `car_code` = #{carcode}, `msg` = #{msg}, `status` = #{status},sf_code =#{sfcode} WHERE `id` = #{id};
	</update>

	<select id="queyrShenSu" parameterType="string" resultType="com.jk.jtms.entity.Wzss">
		select * from wz_ss where sf_code = #{sfcode}
	</select>
</mapper>