<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.jtms.dao.UserDao">
    <!--根据用户名获取用户信息-->
    <select id="getUserByUsername" resultType="com.jk.jtms.entity.User">
        select
           id,
           name,
           username,
           password,
           email,
           phone,
           sf_code sfCode
        from
           sys_user
        where
           username = #{username}
    </select>

    <!--用户注册-->
    <insert id="addUser" parameterType="com.jk.jtms.entity.User" >
    INSERT INTO `sys_user` ( `id`, `name`, `username`, `password`, `email`, `phone`, `sf_code`, `role_id`, `salt` )
    VALUES
	( #{id}, #{name}, #{username}, #{password}, #{email}, #{phone}, #{sfcode}, #{roleId},#{salt} );
    </insert>

    <select id="queryPwd" resultType="int">
        select count(1) from sys_user where username = #{username} and password = #{password}
    </select>

    <update id="updatePwd" parameterType="string">
        update sys_user set password = #{pwd} where username = #{username}
    </update>

    <insert id="addUserCried">
        INSERT INTO `user_credit`(`user_id`, `credit_num`, `id`, `jz_code`) VALUES (#{userid}, #{creditnum}, #{id}, #{jz_code});
    </insert>

    <select id="getUserEmail" parameterType="string" resultType="string">
        select email from sys_user where username = #{username}
    </select>
</mapper>